body
{
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1.5em;
    box-sizing: border-box;
    font-family: sans-serif;
}
.customization
{
    gap:1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
}
.cp-title
{
    display: inline-flex;
    align-items: end;
}
.customization textarea
{
    resize: none;
}
.file-upload
{
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
}
.fu
{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.fu label, .fu input
{
    cursor: pointer;
}
.diff-button
{
    margin-bottom: 1em;
    width: 100%;
}
.diff-button button
{
    font-size: 1.2em;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    cursor: pointer;
}
.comparison-result
{
    flex: 1;
    display: flex;
    overflow-y: hidden;
    align-items: stretch;
    max-height: 60vh;
    gap: 1rem;
    font-family: monospace;
}
.comparison-result .cr
{
    padding: 0.5em;
    box-sizing: border-box;
    border-radius: 0.2em;
    border: 1px solid black;
    width: 100%;
    overflow-y: auto;
    overscroll-behavior: contain;
}
.tag-comparison-result
{
    display: flex;
}
.tcr
{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.comparison-result span.added
{
    background-color: rgb(94, 190, 94);
}
.comparison-result span.removed
{
    background-color: rgb(236, 138, 138);
}
.cr span
{
    white-space: pre-line;
}
.cr span span
{
    margin-right: 0.3em;
}
.tcr-result
{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
span.spacing
{
    display: inline-block;
    width: 1em;
}
.tag-comparison-result-entry
{
    .entry-header
    {
        font-family: monospace;
        font-weight: bold;
        font-size: 1.3em;
    }

    .entries
    {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding-left: 1.5em;
        gap: 0.5em;

        .tag-comparison-entry
        {
            padding: 0.5em;
            box-sizing: border-box;
            border-radius: 0.5em;
            background-color: lightblue;
        }

        .tag-comparison-entry.added
        {
            color:rgb(0, 66, 0);
            background-color: rgb(94, 190, 94);
        }

        .tag-comparison-entry.removed
        {
            color:rgb(134, 9, 9);
            background-color: rgb(236, 138, 138);
        }
    }
}